p{
    width: 50%;
    height: auto;
    font-size: 35px;
    color: black;
    background-color: greenyellow;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    position: absolute;
    left: 25%;
    outline: 3px solid blue;
    outline-radius: 10px;

}
